<div style="margin-top:10px; " class="mb-3">
    <input type="text" [(ngModel)]="filterTextColor" class="form-control" id="filterTextColor" placeholder="renk ara">
  </div>
  <div *ngIf="filterTextColor" class="alert alert-success">
    {{filterTextColor}} aradınız
  </div>
<ul class="list-group" >
    <li routerLink="/home" [class]="getAllColorClass()">TÜM RENKLER</li>
    <li (click)="setCurrentColor(color)" routerLink="cars/color/{{color.id}}"  [class]="getCurrentColorClass(color)" *ngFor="let color of colors | filterColor:filterTextColor">{{color.colorName}}</li>
</ul>

