<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span *ngIf="dataLoaded!=false" class="visually-hidden">Loading...</span>
  </div>
<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Müşteri Adı</th>
            <th>Müşteri Soyadı</th>
            <th>Model</th>
            <th>Kiralanan Tarih</th>
            <th>Teslim Tarihi</th>
        </tr>
    </thead>
    <tr *ngFor="let rental of rentalDtos" >
        <td>{{rental.id}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.firstName}}</td>
        <td>{{rental.lastName}}</td>
        <td>{{rental.modelYear}}</td>
        <td>{{rental.rentDate}}</td>
        <td><span *ngIf="rental.returnDate">{{ rental.returnDate }}</span>
            <span *ngIf="!rental.returnDate">Teslim tarihi bilinmiyor</span></td>
    </tr>
    </table>

