<div class="card" style="opacity: 0.8;" >
    <div class="card-header">Marka Güncelleme</div>
    <div class="card-body">
        <form [formGroup]="updateBrandForm">
            <div class="mb-3" > 
              <label for="brandName">Brand Name</label>
              <input 
                type="text"
                class="form-control"
                id="brandName"
                formControlName="brandName"
              />
            </div>
            </form>
    </div>
    <div class="card-header">
        <button class="btn btn-primary" style="width: 100%;" (click)="update()">Güncelle</button>
    </div>
  </div>
  