
  <app-car-filter></app-car-filter>
  <div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="row" style="overflow: scroll; height: 500px; margin-top: 10px;" *ngIf="dataLoaded==true"  >
    <div *ngFor="let car of cars" class="card" style="width: 16rem; padding: 10px; margin: 10px; opacity: 0.8;">
      <img src="https://localhost:44367/{{car.imagePath}}" class="card-img-top" alt="{{car.description}} Image"  height="150px">
      <div  class="card-body">
        <p class="card-text">Brand: <strong>{{car.brandName}}</strong></p>
        <p class="card-text">Description: <strong>{{ car.description }}</strong></p>
      </div >
      <ul class="list-group list-group-flush">
       
        <li class="list-group-item"><b>Renk:</b><span style="float: right;">{{car.colorName}}</span></li>
        <li class="list-group-item"><b>Model Yılı:</b> <span style="float: right;">{{car.modelYear}} </span></li>
        <li class="list-group-item"><b>Findeks Puanı:</b> <span style="float: right;">{{car.findeks}} </span></li>
        <li class="list-group-item"><b>Fiyat:</b><span style="float: right;">{{car.dailyPrice | currency:"₺"}}  </span></li>
      </ul>
      <div class="card-body">
        <section style="float:left">
          <button routerLink="cardetail/{{car.id}}" type="button" class="btn btn-primary">Detaylar</button>
        </section>
       
      </div>
    </div>
  </div>
  