 <div style="margin-top: 10px; opacity: 0.8" class="row" >
  <div class="col-md-6">
      <div class="card">
          <div class="card-header">User Profile</div>
          <div class="card-body" style="padding-bottom: 0px;">
              <form [formGroup]="userUpdateForm">
                  <div class="mb-3">
                      <label for="firstName" class="form-label">First Name : </label>
                      <input type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="">
                  </div>
                  <div class="mb-3">
                      <label for="lastName" class="form-label">Last Name : </label>
                      <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="">
                  </div>
                  <div class="mb-3">
                      <label for="email" class="form-label">Email : </label>
                      <input type="email" class="form-control" formControlName="email" id="email" placeholder="">
                  </div>
              </form>
          </div>
          <div class="password">
              <app-change-password></app-change-password>
          </div>
          <div class="card-footer">
              <button (click)="userUpdate()" style="width: 100%;" class="btn btn-primary mybtn">Update</button>
          </div>
      </div>
  </div>